@tailwind base;
@tailwind components;
@tailwind utilities;

.font-gaming {
  font-family: 'Press Start 2P', cursive;
}


body.active-modal {
  overflow-y: hidden; 
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 50;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal-content {
  position: relative;
  background-color: white;
  width: 30rem;
  max-height: 80vh; 
  overflow-y: auto; 
  text-align: center;
  border-radius: 1rem;
  padding: 2rem;
  z-index: 200;
}

.modal-cards {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}


.button-6 {
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  
  min-height: 3rem;
  padding: calc(.600rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}




.game-shadow{

  -webkit-box-shadow: 10px 10px 8px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 8px -8px rgba(0,0,0,0.75);
box-shadow: 10px 10px 8px -8px rgba(0,0,0,0.75);
}



.login-color{

  background-color: rgb(0, 173, 181);
}


.login-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
   align-items: center;
}

.input-error {
  border: 2px solid red ;

  border-radius: 10px;
}

.gradient{

  background: rgb(108,101,101);
  background: linear-gradient(90deg, rgba(108,101,101,1) 0%, rgba(8,175,221,1) 34%, rgba(67,212,255,1) 100%);
}

.home-container{

  min-height: 100vh; 
  padding-bottom: 20px; 
  overflow: auto; 
  background-color: whitesmoke;


}

.profile-container{
  width: 100vw;
  height: 100vh;

}



.metacritic-bar {
  width: 100%;
  height: 30px;
  background-color: #e0e0e0;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.score {
  height: 100%;
  transition: width 0.3s ease;
}

.score-text {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-weight: bold;
}




@keyframes micMove {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -1px); 
  }
}


.mic-moving {
  animation: micMove 0.5s infinite; 
}

.mic-still {
  animation: none; 
}


.game-title {
  cursor:pointer;
  white-space: nowrap;      
  overflow: hidden;        
  text-overflow: ellipsis;  
  width: 170px;
  text-decoration: underline;
  font-weight:600;             
}
.game-title:hover{

  text-decoration: none;
  font-weight: 400;
  color:gray
}

.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}

.no-scrollbar::-webkit-scrollbar {
  display: none;  
}

.image-container {
  display: inline-block;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.image-container img {
  display: block;
  width: 100%;
  
}

.image-container:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}

.avatar-container{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;

}

.avatar-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.avatar-page{

  min-height: 100vh; 
  padding-bottom: 20px; 
  overflow: auto; 
  background-color: rgb(37 99 235);
  

}



.overlay{
  background: rgba(49,49,49,0.8);
}

.avatar{
  padding: 0.5rem;
  margin: 0.25rem;
  cursor: pointer;

}

.form__group {
  position: relative;
  padding: 20px 0 0;
  width: 100%;
  max-width: 180px;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 17px;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #9b9b9b;
  pointer-events: none;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #116399, #38caef);
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #38caef;
  font-weight: 700;
}


.form__field:required, .form__field:invalid {
  box-shadow: none;
}


.find-games-container {
  min-height: 100vh; 
  padding-bottom: 20px; 
  overflow: auto; 
}

.message {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(124, 120, 120, 0.7);
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 18px;
  opacity: 1;
  transition: opacity 3s ease-in-out;
}

.fade-out {
  opacity: 0;
}

/* From Uiverse.io by andrew-demchenk0 */ 
.button-recording {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  gap: 8px;
  height: 40px;
  width: 114px;
  border: none;
  background: #1b1b1cde;
  border-radius: 20px;
  cursor: pointer;
}

.lable {
  line-height: 20px;
  font-size: 17px;
  color: #38caef;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.button-recording:hover {
  background: #1b1b1c;
}

.button-recording:hover .svg-icon {
  animation: scale 1s linear infinite;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05) rotate(10deg);
  }

  100% {
    transform: scale(1);
  }
}

.switch {
  position: relative;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(60,64,67);
  border-radius: 50%;
  cursor: pointer;
  transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.mic-on {
  position: relative;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(60,64,67);
  color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.mic-active {
  background-color:#38caef ;
  color: white;
}


.mic-on {
  z-index: 4;
}

.reviews-page-container{

  
  min-height: 100vh; 
  padding-bottom: 20px; 
  overflow: auto; 
  background-color: whitesmoke;
  
  
  

}


.latest-reviews-container{

  
  min-height: 100vh; 
  padding-bottom: 20px; 
  overflow: auto; 
  background-color: whitesmoke;
  
  
  

}