@tailwind base;
@tailwind components;
@tailwind utilities;

.font-gaming {
  font-family: 'Press Start 2P', cursive;
}

body.active-moda{
  overflow-y: hidden;
}

.modal, .overlay{

  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed


}

.modal-content{
  align-items: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);

  background-color: white;
  width: 30rem;
  text-align: center;
  border-radius: 1rem;
  padding: 3rem;
  
}

.overlay{
  background: rgba(49,49,49,0.8);
}

.modal-cards{
  
  width: 90%;
  margin: 0 auto 2rem auto;
  -webkit-box-shadow: 6px 10px 12px -11px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 10px 12px -11px rgba(0,0,0,0.75);
box-shadow: 6px 10px 12px -11px rgba(0,0,0,0.75);
}




.button-6 {
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.600rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}




.game-shadow{

  -webkit-box-shadow: 10px 10px 8px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 8px -8px rgba(0,0,0,0.75);
box-shadow: 10px 10px 8px -8px rgba(0,0,0,0.75);
}



.login-color{

  background-color: rgb(0, 173, 181);
}


.login-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
   align-items: center;
}

.input-error {
  border: 2px solid red ;

  border-radius: 10px;
}

.gradient{


  background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,58,74,1) 39%, rgba(1,187,241,1) 100%);
}

.home-container{

  width: 100vw;
  height: 100vh;
  background-color: white;


}

.profile-container{
  width: 100vw;
  height: 100vh;

}



.metacritic-bar {
  width: 100%;
  height: 30px;
  background-color: #e0e0e0;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.score {
  height: 100%;
  transition: width 0.3s ease;
}

.score-text {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-weight: bold;
}




@keyframes micMove {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -1px); 
  }
}


.mic-moving {
  animation: micMove 0.5s infinite; 
}

.mic-still {
  animation: none; 
}


.game-title {
  cursor:pointer;
  white-space: nowrap;      
  overflow: hidden;        
  text-overflow: ellipsis;  
  width: 170px;
  text-decoration: underline;
  font-weight:600;             
}
.game-title:hover{

  text-decoration: none;
  font-weight: 400;
  color:gray
}

.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}

.no-scrollbar::-webkit-scrollbar {
  display: none;  
}

.image-container {
  display: inline-block;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.image-container img {
  display: block;
  width: 100%;
  
}

.image-container:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}

.avatar-container{
  width: 260px;
  height: 260px;

  border-radius: 50%;
  background-color: aquamarine;
  overflow: hidden;

}

.avatar-container img{
    width: 100%;
  height: 100%;
object-fit: cover;
}